body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /*background-image: url("../images/contact-bg.png");*/
    background-color: #212121;
    height: auto;
    width: auto; 
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.header {
  /*font-family: Consolas, monaco, monospace;*/
  font-family: Consolas, monaco, monospace;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  color: #f7f7f7;
  margin: auto;
  width: 70%;
  /*height: auto;*/
  position: relative;
  padding-top: 60px;
}

.content {
    width: 100%;
    /*border: 2px solid black;*/
    padding: 5px;
    overflow: hidden;
    float: right;
}

.content img {
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    float: left;
    position: relative;
}

.navbar {
  overflow: hidden;
  font-family: Consolas, monaco, monospace;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
