@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
/*@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');*/

@font-face {
  font-family: 'productsans';
  src: url('product_sans_regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('product_sans_bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

html,
body {
  height: 100%;
  overflow-y: scroll;
  margin: 0;
}
/*
body {
  overflow: hidden;
  background-color: #ffffff; 

}*/

* {
    box-sizing: border-box;
}


.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     /*height:80px;*/
     position:absolute;
     right:249px;
     /*top:10px; */
}


.welcome {
  /*font-family: Consolas, monaco, monospace;*/
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*font-family: verdana;*/
  /*font-family: 'Proxima Nova Soft','Helvetica Neue',sans-serif;*/
  /*font-family: 'proxima-nova', sans-serif;*/
  font-size: 18px;
  color: #000000;
  font-style: normal;
  font-variant: normal;
  /*font-weight: 500;*/
  margin: auto;
  /*text-align: center;*/
  width: 70%;
  /*clear: both;*/
  /*position: relative;*/
  padding-top: 40px;
  /*padding-bottom: -10px;*/
}


.navbar {
  left:50%;
  overflow: hidden;
  /*font-family: Consolas, monaco, monospace;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*font-family: 'Quicksand';*/
  background-color: #f7f7f7;
  position: fixed;
  bottom: 0;
  width: auto;
  height: auto;
   margin-left:-140px;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*box-shadow: 2px;*/
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


/*
.navbar {
  font-family: Consolas, monaco, monospace;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}*/
